@import url("https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Ma Shan Zheng", cursive;
  background-color: whitesmoke;
}

html,
body,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.music {
  height: 50rem;
  width: 40rem;
  margin: {
    top: 8rem;
    left: auto;
    right: auto;
  }
  background-color: #e7e7e7;
  border-radius: 2rem;
  text-align: center;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);

  &__img {
    height: 30rem;
    width: 30rem;
    position: relative;
    top: -5rem;
    left: 5rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 2rem;
      box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
    }
  }

  &__title {
    font-size: 2.6rem;
    margin: 0;
  }
  &__artist {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
    margin: {
      top: 1rem;
    }
  }

  .progress {
    display: flex;
    padding: 0 3rem;
    align-items: center;
    gap: 1rem;

    span {
      font-size: 1.4rem;
      flex-shrink: 0;
      width: 4rem;
    }

    &__track {
      width: 100%;
      height: 0.6rem;
      border-radius: 0.6rem;
      background-color: white;
      cursor: pointer;
    }

    &__bar {
      width: 20%;
      height: 100%;
      border-radius: inherit;
      background-color: #232323;
    }
  }

  .control {
    font-size: 2.8rem;
    margin-top: 2rem;

    &__icon {
      cursor: pointer;
      vertical-align: middle;
      height: 4.4rem;
      width: 4.4rem;
      line-height: 4.4rem;

      &.main-button {
        font-size: 3.6rem;
        margin: 0 2rem;
      }
    }
  }
}
